* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ! HERO */

.hero img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ! INFO */
.information {
}

/* ! QUOTE */
